<% provide(:title, 'Photos') %>
<div class="center">
<h1>Photos</h1>
</div>
<br>
<%= link_to image_tag("lobby.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("stairview.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("loftstairs.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("loftlobby.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("1blamp.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("1bbeds.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("3cbed2.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("4a.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("4b.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("shower1.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("shower2.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("frontnumber.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("diningroom3.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("bedlinen.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>
<%= link_to image_tag("bannisterfront.jpg", width: '512', height: '50', alt: "diningoranges"), '' %>

